.wrapper{
    height: 50% !important;
}
.sensors-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sensor-item{
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.sensor-val{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 15px;
    width: 100%;
    min-width: 150px;
}

.sensor-title{
    text-align: center;
}

.sensor-input{
    height: 50%;
    margin: auto;
    width: 100%;
}