.stopstart-container{
    aspect-ratio: 10/1;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    padding: 10px;
}

.ebutton{
    cursor: pointer;
    aspect-ratio: 1/1;
    width: auto;
    margin: auto;
    border-radius: 50%;
    border: none;
    box-shadow: inset 0px 0px 4px #000;
}

.estop-button{
    height: 90%;
    background-color: #e22626;
    min-height: 100px;
}

.estart-button{
    height: 50%;
    background-color: #1985A1;
}

.active-button:hover {
  box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.4) !important;
  outline: none;
}


.arm-container{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.activate-button{
    height: 80px;
    width: 100px;
    border: none;
    margin: none;
    cursor: pointer;
}

.arm-button{
    background-color: #04A777;
}


.disarm-button{
    background-color: #D63230;
}

