.graph-wrapper{
    display: block;
}

.settings-box{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.settings-input{
    max-width: 200px;
    max-height: 20px;
    margin: auto;
    margin-left: 0px;
}

